<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fancier.missingyou.common.mapper.QuestionMapper">
  <resultMap id="BaseResultMap" type="com.fancier.missingyou.common.model.entity.Question">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="answer" jdbcType="LONGVARCHAR" property="answer" />
  </resultMap>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fancier.missingyou.common.model.entity.Question" useGeneratedKeys="true">
    insert into question (title, tags, user_id, content, answer
      )
    values (#{title,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT},
       #{content,jdbcType=LONGVARCHAR}, #{answer,jdbcType=LONGVARCHAR}
      )
  </insert>
  <select id="listQuestionWithDelete" resultType="com.fancier.missingyou.common.model.entity.Question"
          parameterType="java.util.Date">
    select * from question where update_time &gt; #{minUpdateTime}
  </select>

</mapper>